<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrderMapper">
	
	<select id="list" resultType="com.example.domain.OrderVO">
		select * 
		from tbl_order
		where p_code = #{p_code}
	</select>
	
	<!-- 주문 추가 -->
	<insert id="insert">
		insert into tbl_order(p_code, u_code, token)
		values(#{p_code}, #{u_code}, ( select token from tbl_user where u_code = #{u_code} ))
	</insert>
	
	<!-- 특정 주문 토큰 목록 -->
	<select id="getTokenList" resultType="String">
		select token
		from tbl_order
		where p_code = #{p_code}
	</select>
	 
</mapper>